/* Footer.css */

.FooterWrapper {
    display: flex;
    flex-direction: column;
}

.Footer {
    background-color: #251F47;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Pushes the footer to the bottom */
}
